@use '../../styles/mixins' as *;

.product {
  @include flex(row, var(--spacing-3), $justify: center);

  width: 100%;
  padding: 2rem;
}

.content {
  @include flex(column, $align: start);

  & h2 {
    margin: var(--spacing-1) 0;
  }

  & p {
    margin: 0;
  }

  & .discount {
    position: relative;
    opacity: 0.6;

    &.discount::after {
      content: '';

      position: absolute;
      right: 0;
      bottom: 50%;
      transform: rotate(35deg);

      display: block;

      width: 40px;
      height: 3px;

      background-color: var(--mui-palette-error-main);
    }
  }

  & .new-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(88 229 135);
  }
}
