@use '../../styles/mixins' as *;

.product {
  padding: 0 var(--spacing-2);

  @include flex(row, var(--spacing-6), $justify: center, $align: start);

  @include media(tablet) {
    flex-wrap: wrap;
  }
}

.content {
  @include flex(column, $align: start);

  width: 100%;
  max-width: 400px;
  border-bottom: 1px solid var(--mui-palette-grey-700);

  & h2 {
    margin: var(--spacing-1) 0;
  }

  & p {
    width: 100%;
    max-width: 400px;
    margin-top: var(--spacing-9);
    margin-bottom: var(--spacing-3);
  }
}

.description {
  opacity: 0.85;
}

.buttons-wrapper {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-top: 50px;
}

.add-btn {
  padding: 0.8em 2.7em;
  border: 1px solid var(--mui-palette-error-main);
  color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-error-main);

  &:hover {
    border: 1px solid var(--palette-accent-dark);
    background-color: var(--palette-accent-dark);
  }
}

.remove-btn {
  padding: 0.8em;
  border: 1px solid var(--mui-palette-primary-dark);
  color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-background-default);

  &:hover {
    color: var(--mui-palette-background-default);
    background-color: var(--mui-palette-primary-main);
  }
}

.card-action-area {
  margin-bottom: 60px;
}

.in-cart-wrapper {
  display: flex;
  align-items: center;
}

.check-icon {
  font-size: 30px;
  color: green;
}
