@use '../../styles/mixins' as *;

.inputBlock {
  @include flex;

  @include media(tablet) {
    width: 100%;
  }
}

.search {
  overflow: hidden;

  height: var(--filter-input-height);
  padding: 0 var(--spacing-1) 0;
  border: 1px solid var(--mui-palette-grey-800);
  border-radius: var(--border-radius-1);

  color: var(--mui-palette-primary-main);

  @include flex;

  &:hover {
    border: 1px solid var(--mui-palette-primary-main);
  }

  & input {
    width: 120px;

    @include transition;
  }

  & input:focus {
    width: 170px;
  }

  @include media(tablet) {
    width: 100%;

    & input {
      width: 100%;
    }

    & input:focus {
      width: 100%;
    }
  }
}

.mark {
  display: inline-block;

  width: 15px;
  height: 15px;
  margin-left: var(--spacing-1);
  border-radius: var(--spacing-1);

  font-size: 0.8rem;
  text-align: center;
  vertical-align: text-bottom;

  background-color: var(--mui-palette-success-main);

  @include media(tablet) {
    display: none;
  }
}
