.actions-container {
  display: flex;
  align-items: center;
}

.buttons-wrapper {
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  margin-right: 20px;
  padding: 5px 10px;
}

.cancel-button {
  padding: 5px 10px;
}

.dialog-content {
  padding: 20px 30px;
}
