@use '../../styles/mixins' as *;

.promo-wrapper {
  width: 100%;

  @include flex(column, var(--spacing-1), $align: start);
  @include transition;
  @include card-border;

  padding: var(--spacing-2);

  & label {
    margin-bottom: var(--spacing-1);
  }

  & button {
    width: 100%;
  }
}

.input-wrapper {
  flex-wrap: wrap;
  width: 100%;
  min-height: 30px;

  @include flex($justify: start);
  @include border-bottom;

  & input {
    flex-grow: 1;

    width: 0;
    min-width: 120px;
    border: none;

    font: inherit;

    background: transparent;
    caret-color: var(--mui-palette-primary-dark);

    &:focus {
      outline: none;
    }
  }
}
