@use '../../styles/mixins' as *;

.profile-bg {
  position: fixed;
  z-index: -1;
  inset: 0;

  width: 100vw;
  min-height: 100dvh;
  padding: var(--spacing-8) var(--spacing-2);

  background-image: url('/images/login-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include flex(column);
}

.form-wrapper {
  width: 38%;
  min-width: 300px;
  max-width: 900px;
  margin: var(--spacing-8) auto;
  padding: var(--spacing-7);
  border-radius: var(--spacing-1);

  background-color: var(--pallet-color-dark);

  & h2 {
    margin-bottom: var(--spacing-3);
  }
}
