@use '../../styles/mixins' as *;

.profile-bg {
  position: fixed;
  z-index: -1;
  inset: 0;

  width: 100vw;
  min-height: 100dvh;
  padding: var(--spacing-8) var(--spacing-2);

  background-image: url('/images/login-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include flex(column);
}

.form-wrapper {
  position: relative;

  width: 38%;
  min-width: 300px;
  max-width: 900px;
  margin: -1px auto;
  padding: var(--spacing-7);
  border-top-right-radius: var(--spacing-1);
  border-bottom-right-radius: var(--spacing-1);
  border-bottom-left-radius: var(--spacing-1);

  background-color: var(--pallet-color-dark);

  & h2 {
    margin-bottom: var(--spacing-3);
  }
}

.tab-bar {
  display: flex;
  gap: 10px;
  justify-content: start;

  width: 38%;
  min-width: 300px;
  max-width: 900px;
}

%tab {
  padding: 8px 12px;
  border-top-left-radius: var(--spacing-1);
  border-top-right-radius: var(--spacing-1);

  font-size: 20px;
  color: var(--pallet-color-dark);
  text-decoration: none;

  background-color: #665d5d;

  transition: all 0.2s ease;

  &:hover {
    color: #333;
    background-color: #3a3a3a;
  }
}

.tab {
  @extend %tab;
}

.active-tab {
  @extend %tab;

  color: var(--mui-palette-primary-main);
  background-color: var(--pallet-color-dark);
}
