@mixin flex($flex-direction: row, $gap: var(--spacing-1), $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}

@mixin transition($time: 0.35s, $property: all) {
  transition: $time ease-out;
  transition-property: $property;
}
