@use '../styles/mixins' as *;

:root {
  --mui-palette-primary-main: #dddcd9;
  --mui-palette-primary-dark: #b5ada5;
  --mui-palette-background-default: #171513;
  --mui-palette-error-main: #dc5727;
  --mui-palette-error-dark: #371103;
  --pallet-color-dark: #171513;
  --font-primary: 'Be Vietnam Pro', sans-serif;
  --font-secondary: 'Epilogue', sans-serif;
  --subtitle-size: 0.8rem;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
}

main {
  @include flex(column, 0, $justify: center);

  position: relative;
  left: calc((100vw - 100%) / 2);
  min-height: 100dvh;
}

body {
  overflow-x: clip;
}

body.disable {
  overflow: hidden;
}
