:root {
  --mui-palette-primary-main: #dddcd9;
  --mui-palette-secondary-main: #b5ada5;
  --mui-palette-background-default: #191716;
  --font-primary: 'Be Vietnam Pro', sans-serif;
  --font-secondary: 'Epilogue', sans-serif;
  --subtitle-size: 0.8rem;
}
