@use '../../styles/mixins' as *;

.card-wrapper {
  position: relative;
  flex: 1 1 300px;
  max-width: 500px;
  background-color: var(--mui-palette-background-default);

  & img {
    transform-origin: center bottom;

    @include transition;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.discount {
  position: absolute;
  z-index: 5;

  padding: var(--spacing-1) var(--spacing-2);

  font-size: 1rem;

  background-color: var(--mui-palette-error-main);
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  min-height: 3em;

  text-overflow: ellipsis;

  opacity: 0.75;
}

.add-btn {
  position: absolute;
  right: 16px;
  bottom: 6px;

  padding: 0.8em 2.7em;
  border: 1px solid var(--mui-palette-error-main);

  color: var(--mui-palette-primary-main);

  background-color: var(--mui-palette-error-main);

  &:hover {
    border: 1px solid var(--palette-accent-dark);
    background-color: var(--palette-accent-dark);
  }
}

.remove-btn {
  position: absolute;
  right: 16px;
  bottom: 6px;

  padding: 0.8em;
  border: 1px solid var(--mui-palette-primary-dark);

  color: var(--mui-palette-primary-main);

  background-color: var(--mui-palette-background-default);

  &:hover {
    color: var(--mui-palette-background-default);
    background-color: var(--mui-palette-primary-main);
  }
}
