.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  padding: var(--spacing-5);
  border-radius: var(--spacing-2);

  background-color: #ffd0c281;
}

.wrapper-title {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;

  text-align: center;
}

.wrapper-team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  width: 100%;
}

.card-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-name,
.team-name {
  color: #ffa500;
}

.card-contribution-title {
  margin-top: 10px;
}

.title-text {
  text-align: left;
}

.card-container {
  cursor: pointer;
  flex: 0 1 400px;
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease;
}

.card-container:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 0 33px 9px rgb(255 255 255 / 62%);
}
