.login-bg {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100dvh;
  padding: var(--spacing-2);

  background-image: url('/images/login-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-wrapper {
  overflow-y: auto;

  width: 38%;
  min-width: 280px;
  max-width: 500px;
  margin: auto;
  padding: var(--spacing-7);
  border-radius: var(--spacing-1);

  background-color: var(--pallet-color-dark);

  & h2 {
    margin-bottom: var(--spacing-3);
  }
}
