@use '../../styles/mixins' as *;

.cart {
  position: relative;
  width: 100%;
  max-width: 1440px;

  @include flex(row, var(--spacing-2), $justify: start, $align: start);

  @include media(tablet) {
    flex-direction: column;
    gap: var(--spacing-5);
  }
}

.products {
  width: 100%;

  @include flex(column, var(--spacing-1));

  &-heading {
    @include flex;

    width: 100%;
    margin: var(--spacing-2) 0;
  }
}

.cart-aside {
  position: sticky;
  top: var(--spacing-8);

  width: 100%;
  max-width: 400px;
  padding: var(--spacing-2);

  @include flex(column, var(--spacing-3), $align: start);

  & span {
    font-weight: 600;
  }

  @include media(tablet) {
    max-width: none;
    border-top: 1px solid var(--mui-palette-primary-main);
  }
}
