@use '../../styles/mixins' as *;

.hero {
  min-height: 86dvh;
  padding: var(--spacing-4);
  border-radius: var(--spacing-2);

  @include flex(column);

  text-align: center;

  background-image: url('/images/cover.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper {
  max-width: 40rem;

  @include flex(column);
}
