@use '../../styles/mixins' as *;

.catalog-layout {
  position: relative;

  @include flex(row, var(--spacing-3), $align: top);

  & aside {
    min-width: 300px;
  }
}

.list-wrapper {
  width: 100%;
  min-height: 100vh;

  @include flex($justify: center, $align: center);
}

.breadcrumbs-wrapper {
  height: 3rem;
  margin-bottom: var(--spacing-2);

  @include flex;
}
