@use '../../styles/mixins' as *;

.page {
  width: 100%;
  padding: var(--spacing-5) var(--spacing-1) var(--spacing-10);
}

.background {
  position: absolute;
  z-index: -1;
  inset: 0;

  width: 110%;
  border-radius: 0 0 var(--border-radius-3) var(--border-radius-3);

  background-image: url('/images/login-bg.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
}

.form-wrapper {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: var(--spacing-7);
  border-radius: var(--spacing-1);

  background-color: var(--pallet-color-dark);

  & h6 {
    text-align: center;
  }
}
