.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  max-width: 300px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  & div {
    width: 100%;
  }

  & button {
    width: var(--spacing-3);
    height: var(--spacing-3);
    opacity: 0.5;
  }
}
